/vendor/
/node_modules/
/storage/
/bootstrap/cache/
/.idea/
/.vscode/
/.DS_Store
/portal-web/.env
/dns-resolver/bin/
/geodns/bin/
/dns-resolver/data/
/geodns/data/
/dns-resolver/.gocache/
/geodns/.gocache/
/backups/
/secrets/
/var/
/portal-web/secrets/
/portal-web/.phpunit.result.cache
/*.key
/.envrc
portal-web/web/node_modules